<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  
</head>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/work">Work List</a>
    <a href="/about">About</a>
  </div>